<header>
  <h3 class="font-bold text-xl">
    Simulacion de <span class="text-[#8E2FE3]">salidas</span>
  </h3>
</header>

<div class="mt-2">
  <label
    class="text-center flex flex-col w-[500px] border-2 border-dashed rounded-lg cursor-pointer dark:hover:bg-bray-800 bg-black bg-opacity-20 border-gray-500"
  >
    <h2 class="text-[#fff]">Carga tu banco de datos</h2>
    <div>
      <img class="h-24" src="" alt="" />
      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
        <span class="font-semibold">Click para seleccionar</span>
      </p>
      <p class="text-xs text-white dark:text-gray-400">
        CARGAR UN ARCHIVO DE EXCEL (XLS)
      </p>
      <span></span>
    </div>
    <input id="dropzone-file" type="file" class="hidden" />
  </label>
</div>

<div>
  <button
    class="text-white bg-gradient-to-r mt-2 from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2"
  >
    Simular
  </button>
</div>
