<h3 class="font-bold text-xl text-[#FFFFFF]">Simulacion</h3>

    <div class="flex justify-center mt-5">
      <input
        class="block text-[#C3083F] rounded-lg cursor-pointer bg-[#441525] focus:outline-none"
        #file_input
        type="file"
      />
    </div>

    <div class="flex justify-center">
      <div class="flex justify-between w-[800px]">
        <div>
          <h3 class="text-[#FFFF] text-[20px] font-bold">SALIDA DESEADA</h3>
          <div
            class="bg-[#242426] flex justify-center p-4 gap-10 rounded-lg"
          >
            <div class="flex flex-col text-[#FFFF]">
              <h4 class="text-[#079540] font-bold">MT1</h4>
              <div class="">0</div>
              <div>0</div>
              <div>1</div>
              <div>1</div>
            </div>
            <div class="flex flex-col text-[#FFFF]">
              <h4 class="text-[#079540] font-bold">MT2</h4>
              <div>0</div>
              <div>1</div>
              <div>0</div>
              <div>1</div>
            </div>
          </div>
        </div>
        <div class="flex items-center">
          <button
            class="bg-primary bg-opacity-10 py-2 px-4 hover:bg-primary hover:bg-opacity-30 rounded-full text-primary"
          >
            Iniciar simulacion
          </button>
        </div>
        <div>
          <h3 class="text-[#FFFF] text-[20px] font-bold">SALIDA DE LA RED</h3>
          <div
            class="bg-[#242426] flex justify-center p-4 gap-10 rounded-lg"
          >
            <div class="flex flex-col text-[#FFFF]">
              <h4 class="text-primary font-bold">YD1</h4>
              <div>0</div>
              <div>0</div>
              <div>1</div>
              <div>1</div>
            </div>
            <div class="flex flex-col text-[#FFFF]">
              <h4 class="text-primary font-bold">YD2</h4>
              <div>0</div>
              <div>1</div>
              <div>0</div>
              <div>1</div>
            </div>
          </div>
        </div>
      </div>
    </div>
