<h3 class="font-bold text-3xl text-[#FFFFFF] my-4">Entrenamiento de la red</h3>
<div class="w-full flex justify-center">
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [stroke]="chartOptions.stroke!"
    [tooltip]="chartOptions.tooltip!"
    [dataLabels]="chartOptions.dataLabels!"
    [fill]="chartOptions.fill!"
    [yaxis]="chartOptions.yaxis!"
    [title]="chartOptions.title!"
  ></apx-chart>
  <div class="bg-white ml-10">
    <div
      class="bg-[#242426] flex px-4 py-2 flex-col gap-x-2 font-semibold gap-2 rounded-lg"
    >
      <div class="text-primary">Iteracion: <span class="text-[#fff]"> {{iteraciones[9].x}} </span> </div>
      <div class="text-primary ml-2">Error iteracion: <span class="text-[#fff]"> {{iteraciones[9].y}} </span> </div>
    </div>

  </div>
</div>
