<main class="flex flex-col mt-3 gap-3">
  <p class="text-xl font-bold -mt-3">
    <strong>Configuracion de la red</strong>
  </p>

  <label>Numero de capas ocultas</label>
  <select
    class="p-2 bg-[rgb(26,26,29)] border border-[#ffff] rounded-lg outline-none"
    name=""
    id=""
    [(ngModel)]="capa_selec"
    (change)="actualizarLista()"
  >
    <option value="" *ngFor="let item of variables.capa" [value]="item">
      {{ item }}
    </option>
  </select>

  @for (item of num_capa; track $index) {
  <div class="flex gap-2 flex-col">
    <input
      class="p-2 rounded-lg bg-[#1A1A1D] border border-[#ffff]"
      type="text "
      [(ngModel)]="num_capa[$index]"
      placeholder="numero neuronas capa: {{ $index + 1 }}"
    />
  </div>
  }
  <p>{{ neu_cap1 }}</p>

  <p class="text-lg">Funcion de activacion capa de salida</p>

  <p class="text-lg">Seleccione un algoritmo de entrenamiento</p>
  <div class="flex justify-between gap-2">
    @for (item of variables.algoritmos; track $index) {
    <button
      (click)="algoritmo_select(item)"
      class="p-2 rounded-lg bg-[#8E2FE3] bg-opacity-20 cursor-pointer text-[#8E2FE3]"
    >
      {{ item }}
    </button>
    }
  </div>
</main>

<!-- <div>
    <p class="text-[#fff] text-xl mt-2 flex justify-center">
      <span class="text-primary">Parametros</span>de entrenamiento
    </p>
    <div class="flex items-center -mt-4 gap-5">
      <div class="flex flex-col w-28 ">
        <p class="text-[#fff] text-sm mb-3 mt-3 flex">Numero de iteraciones *</p>
        <input
          type="range"
          min="0"
          max="5000"
          value="0"
          [(ngModel)]="variables.num_iteraciones"
        />
        <p class="text-[#fff]">
          Valor del rango {{ variables.num_iteraciones }}
        </p>
      </div>
      <div class="w-28 mx-1 my-3">
        <p class="text-[#fff] text-sm mb-3 mt-3">Rata de aprendizaje*</p>
        <input
          type="range"
          min="0"
          max="1"
          value="0"
          step="0.1"
          [(ngModel)]="variables.rata_aprendizaje"
        />
        <p class="text-[#fff]">
          Valor del rango {{ variables.rata_aprendizaje }}
        </p>
      </div>
      <div class="w-28 mx-1 my-3">
        <p class="text-[#fff] text-sm mb-3 mt-3">Error maximo permitido*</p>
        <input
          type="range"
          min="0"
          max="1"
          value="0"
          step="0.1"
          [(ngModel)]="variables.error_maximo"
        />
        <p class="text-[#fff] ">Valor del rango {{ variables.error_maximo }}</p>
      </div>
    </div>
  </div> -->
