<main class="flex flex-col mt-3 gap-3">
  <p class="text-xl font-bold -mt-3">
    <strong>Configuracion de la red</strong>
  </p>

  <label>Numero de capas ocultas</label>
  <select
    class="p-2 bg-[#1D1D1D] border-solid border-[#ffff] rounded-lg outline-none"
    name=""
    id=""
    [(ngModel)]="capa_selec"
    (change)="actualizarLista()"
  >
    <option value="" *ngFor="let item of variables.capa" [value]="item">
      {{ item }}
    </option>
  </select>

  @for (item of num_capa; track $index) {
  <div class="flex gap-2">
    <input
      class="p-2 rounded-lg bg-[#1D1D1D] w-full border border-[#ffff]"
      type="number"
      [(ngModel)]="num_capa[$index]"
      placeholder="numero neuronas capa: {{ $index + 1 }}"
    />
    <select
      class="p-2 bg-[#1D1D1D] border border-[#ffff] rounded-lg outline-none"
      name=""
      id=""
      [(ngModel)]="fActivation[$index]"
    >
      <option *ngFor="let item of variables.func_Activacion">{{ item }}</option>
    </select>
  </div>
  }
  <p>{{ neu_cap1 }}</p>

  <p class="text-lg">Funcion de activacion capa de salida</p>
  <select
    class="p-2 bg-[#1D1D1D] border border-[#ffff] rounded-lg outline-none"
    name=""
    id=""
    [(ngModel)]="variables"
  >
    <option></option>
  </select>

  <p class="text-lg">Seleccione un algoritmo de entrenamiento</p>
  <div class="flex gap-2">
    @for (item of variables.algoritmos; track $index) {
    <button
      (click)="algoritmo_select(item)"
      class="p-2 rounded-lg bg-[#8E2FE3] bg-opacity-20 cursor-pointer text-[#8E2FE3]"
    >
      {{ item }}
    </button>
    }
  </div>
  <button class="bg-black bg-opacity-50 text-white p-2 rounded-lg">
    Confirmar
  </button>
</main>
