@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Schoolbell";
  src: url("../src/assets/fonts/Schoolbell-Regular.ttf") format("woff2");
}

body {
  background-image: url("../src/assets/img/fondo.svg");
}
