<main class="text-center">
  <app-header />
  <label class="text-[#fff] block -mb-3 mt-6 text-lg font-bold" for="file_input"
    >Cargar la Data</label
  >
  <div class="flex justify-center mt-5">
    <input
      class="block text-[#C3083F] rounded-lg cursor-pointer bg-[#441525] focus:outline-none"
      (change)="get($event)"
      type="file"
    />
  </div>

  <!-- mt-5 justify-around text-start pt-0 pr-12 pb-0 pl-24 -->
  <div class="test">
    <article class="flex flex-col w-[420px] p-2">
      <!-- <section class="text-lg font-medium"> -->
      <app-parametros-entrada />
      <!-- </section> -->
      <app-config-rna />
      <button
        class="text-base mt-2 text-[#fff] bg-[#079540] rounded-full p-2"
        (click)="probar()"
      >
        <strong>Entrenar</strong>
      </button>
    </article>

    <article class="p-3">
      <app-graphic />
      <app-simulacion />
    </article>
  </div>
</main>

<style>
  .test {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
</style>
