<Body class="bg-[#1a1a1d] m-0 w-full p-5">
  <main class="text-center">
    <header>
      <H1 class="text-[white] text-6xl font-bold"
        >Aprendizaje <span class="text-primary">supervisado</span></H1
      >
    </header>
    <label
      class="text-[#fff] block -mb-3 mt-6 text-lg font-bold"
      for="file_input"
      >Cargar la Data</label
    >
    <div class="flex justify-center mt-5">
      <input
        class="block text-[#C3083F] rounded-lg cursor-pointer bg-[#441525] focus:outline-none"
        id="file_input"
        (change)="get($event)"
        type="file"
      />
    </div>
    <Article class="flex mt-5 justify-around text-start pt-0 pr-12 pb-0 pl-24">
      <Section class="text-lg font-medium">
        <H2 class="text-[#fff] font-bold">Parametros de entrada</H2>
        <div class="bg-[#242426] rounded-3xl py-4 px-7 mt-4 mb-6 mx-0">
          <div class="sec-prmt-div-N">
            <div class="flex items-center">
              <div class="w-4 h-4 mr-2 rounded-xl bg-[#079540]"></div>
              <p class="text-[#fff]">Numero de entradas: {{ entradas }}</p>
            </div>
            <div class="flex items-center">
              <div class="w-4 h-4 mr-2 rounded-xl bg-[#44226f]"></div>
              <p class="text-[#fff]">Numero de salidas: {{ salidas }}</p>
            </div>
            <div class="flex items-center">
              <div class="w-4 h-4 mr-2 rounded-xl bg-[#c3083f]"></div>
              <p class="text-[#fff]">Numero de patrones: {{ patrones }}</p>
            </div>
          </div>
        </div>
        <p class="text-[#fff]">
          Inicializar <span class="text-secundary">Pesos (P)</span> y
          <span class="text-secundary">umbrales (U)</span>
          <input class="ml-[5px]" type="checkbox" name="" id="" />
        </p>
      </Section>
      <Section class="sec-config-RNA">
        <p class="text-[#fff] text-xl font-bold m-3">
          <Strong>Configuracion de la Red Neuronal</Strong>
        </p>
        <p class="text-[#fff] text-lg m-3">
          Funcion de activacion <span>(Limitador)</span>
          <input class="ml-[5px]" type="checkbox" name="" id="" />
        </p>
        <p class="text-[#fff] text-lg m-3">
          Seleccione un algoritmo de entrenamento
        </p>
        <div class="flex justify-between">
          <button
            class="rounded-3xl bg-[#441525] w-24 h-7 text-primary text-sm"
            *ngFor="let item of parameters.algoritmos"
            (click)="algoritmo_select(item)"
          >
            <strong>{{ item }}</strong>
          </button>
        </div>

        <div class="mt-3">
          <p class="text-[#fff] text-xl m-3">
            <span class="text-primary">Parametros</span> de entrenamiento
          </p>
          <div class="flex items-center">
            <div class="w-28 mx-1 my-3">
              <p class="text-[#fff] text-sm m-3">Numero de iteraciones *</p>
              <input
                class="w-[89px] h-[25px] p-2 bg-[#242426] rounded-lg outline-none text-[#FFFF]"
                type="number"
                name="num_iteraciones"
                id="num_iteraciones"
                [(ngModel)]="parameters.num_iteraciones"
              />
            </div>
            <div class="w-28 mx-1 my-3">
              <p class="text-[#fff] text-sm m-3">Rata de aprendizaje*</p>
              <input
                class="w-[89px] h-[25px] bg-[#242426] p-2 rounded-lg outline-none text-[#FFFF]"
                type="number"
                name="rata_aprendizaje"
                id="rata_aprendizaje"
                [(ngModel)]="parameters.rata_aprendizaje"
              />
            </div>
            <div class="w-28 mx-1 my-3">
              <p class="text-[#fff] text-sm m-3">Error maximo permitido*</p>
              <input
                class="w-[89px] h-[25px] bg-[#242426] p-2 rounded-lg outline-none text-[#FFFF]"
                type="number"
                name="error_maximo"
                id="error_maximo"
                [(ngModel)]="parameters.error_maximo"
              />
            </div>
          </div>
        </div>
        <div class="flex justify-end">
          <button
            class="text-base text-[#fff] bg-[#079540] rounded-2xl w-24 h-7"
            (click)="Entrenamiento()"
          >
            <strong>Entrenar</strong>
          </button>
        </div>
      </Section>
    </Article>

    <Article class="">
      <app-graphic />
      <h3 class="font-bold text-xl text-[#FFFFFF]">Simulacion</h3>
      <button
        class="bg-primary hover:bg-primary hover:bg-opacity-90 px-4 mt-4 py-2 rounded-full text-[#FFFF]"
      >
        Cargar datos de entrenamiento
      </button>
      <div class="flex justify-center">
        <div class="flex justify-between w-[900px]">
          <div>
            <h3 class="text-[#FFFF] text-[20px] font-bold">SALIDA DESEADA</h3>
            <div
              class="bg-[#242426] flex justify-center p-4 gap-10 rounded-[25px]"
            >
              <div class="flex flex-col text-[#FFFF]">
                <h4 class="text-[#079540] font-bold">MT1</h4>
                <div>0</div>
                <div>0</div>
                <div>1</div>
                <div>1</div>
              </div>

              <div class="flex flex-col text-[#FFFF]">
                <h4 class="text-[#079540] font-bold">MT2</h4>
                <div>0</div>
                <div>1</div>
                <div>0</div>
                <div>1</div>
              </div>
            </div>
          </div>
          <div class="flex items-center">
            <button
              class="bg-primary bg-opacity-10 py-2 px-4 hover:bg-primary hover:bg-opacity-30 rounded-full text-primary"
            >
              Iniciar simulacion
            </button>
          </div>
          <div>
            <h3 class="text-[#FFFF] text-[20px] font-bold">SALIDA DE LA RED</h3>
            <div
              class="bg-[#242426] flex justify-center p-4 gap-10 rounded-[25px]"
            >
              <div class="flex flex-col text-[#FFFF]">
                <h4 class="text-primary font-bold">YD1</h4>
                <div>0</div>
                <div>0</div>
                <div>1</div>
                <div>1</div>
              </div>
              <div class="flex flex-col text-[#FFFF]">
                <h4 class="text-primary font-bold">YD2</h4>
                <div>0</div>
                <div>1</div>
                <div>0</div>
                <div>1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Article>
  </main>
</Body>
