<main class="text-center">
  <header>
    <h1 class="text-[white] text-6xl font-bold">
      Aprendizaje <span class="text-primary">supervisado</span>
    </h1>
  </header>
  <label class="text-[#fff] block -mb-3 mt-6 text-lg font-bold" for="file_input"
    >Cargar la Data</label
  >
  <div class="flex justify-center mt-5">
    <input
      class="block text-[#C3083F] rounded-lg cursor-pointer bg-[#441525] focus:outline-none"
      (change)="get($event)"
      type="file"
    />
  </div>

  <article class="flex mt-5 justify-around text-start pt-0 pr-12 pb-0 pl-24">
    <section class="text-lg font-medium">
      <app-parametros-entrada />
    </section>
    <app-config-rna />
  </article>

  <div class="flex justify-start mt-2">
    <button
      class="text-base text-[#fff] bg-[#079540] rounded-2xl w-24 h-7"
      (click)="probar()"
    >
      <strong>Entrenar</strong>
    </button>
  </div>

  <article>
    <app-graphic />
    
    <app-simulacion/>
  </article>
</main>
