<Body>
  <main>
    <header>
      <H1 class="h1-header"
        >Aprendizaje <span class="sp-header">supervisado</span></H1
      >
    </header>
    <label class="text-[#fff] block -mb-3 mt-2 text-lg font-bold" for="file_input">Cargar la Data</label>
    <input type="file" id="file">
    <Article class="container-section">
      <Section class="sec-prmt">
        <H2>Parametros de entrada</H2>
        <div class="sec-prmt-div">
          <div class="sec-prmt-div-N">
            <div class="div-N">
              <div class="green"></div>
              <p>Numero de entradas: 3</p>
            </div>
            <div class="div-N">
              <div class="violet"></div>
              <p>Numero de salidas: 2</p>
            </div>
            <div class="div-N">
              <div class="red"></div>
              <p>Numero de patrones: 4</p>
            </div>
          </div>
        </div>
        <p>
          Inicializar <span>Pesos (P)</span> y <span>umbrales (U)</span>
          <input type="checkbox" name="" id="" />
        </p>
      </Section>
      <Section class="sec-config-RNA">
        <p><Strong>Configuracion de la Red Neuronal</Strong></p>
        <p>
          Funcion de activacion <span>(Limitador)</span>
          <input type="checkbox" name="" id="" />
        </p>
        <p>Seleccione un algoritmo de entrenamento</p>
        <div class="config-RNA-btns">
          <button class="btn-RNA"><strong>Algoritmo 1</strong></button>
          <button class="btn-RNA"><strong>Algoritmo 2</strong></button>
          <button class="btn-RNA"><strong>Algoritmo 3</strong></button>
        </div>

        <div class="RNA-prmt-entrenamiento">
          <p><span>Parametros</span> de entrenamiento</p>
          <div class="entrenamiento-input">
            <div>
              <p>Numero de iteraciones *</p>
              <input class="btn-entrena" type="text" name="" id="" />
            </div>
            <div>
              <p>Rata de aprendizaje *</p>
              <input class="btn-entrena" type="text" name="" id="" />
            </div>
            <div>
              <p>Error maximo permitido *</p>
              <input class="btn-entrena" type="text" name="" id="" />
            </div>
          </div>
        </div>
        <button><strong>Entrenar</strong></button>
      </Section>
    </Article>

    <Article class="">
      <h3 class="font-bold text-xl text-[#FFFFFF]">Entrenamiento de la red</h3>
      <div class="w-full flex justify-center">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [stroke]="chartOptions.stroke!"
          [tooltip]="chartOptions.tooltip!"
          [dataLabels]="chartOptions.dataLabels!"
          [fill]="chartOptions.fill!"
          [yaxis]="chartOptions.yaxis!"
          [title]="chartOptions.title!"
        ></apx-chart>
        <div class="bg-white ml-10">
          <div
            class="bg-[#242426] flex px-4 py-2 font-semibold gap-2 rounded-full"
          >
            <div class="text-primary">Iteracion</div>
            <div class="text-[#FFFFFF]">numero: 1</div>
          </div>
          <div
            class="bg-[#242426] flex px-4 py-2 mt-2 font-semibold gap-2 rounded-full"
          >
            <div class="text-primary">Iteracion</div>
            <div class="text-[#FFFFFF]">numero: 2</div>
          </div>
        </div>
      </div>
      <h3 class="font-bold text-xl text-[#FFFFFF]">Simulacion</h3>

      <button
        class="bg-primary hover:bg-primary hover:bg-opacity-90 px-4 mt-4 py-2 rounded-full text-[#FFFF]"
      >
        Cargar datos de entrenamiento
      </button>
      <div class="flex justify-center">
        <div class="flex justify-between w-[900px]">
          <div>
            <h3 class="text-[#FFFF] text-[20px] font-bold">SALIDA DESEADA</h3>
            <div class="bg-[#242426] flex justify-center p-4 gap-10 salida">
              <div class="flex flex-col text-[#FFFF]">
                <h4 class="text-[#079540] font-bold">MT1</h4>
                <div>0</div>
                <div>0</div>
                <div>1</div>
                <div>1</div>
              </div>

              <div class="flex flex-col text-[#FFFF]">
                <h4 class="text-[#079540] font-bold">MT2</h4>
                <div>0</div>
                <div>1</div>
                <div>0</div>
                <div>1</div>
              </div>
            </div>
          </div>
          <div class="flex items-center">
            <button
              class="bg-primary bg-opacity-10 py-2 px-4 hover:bg-primary hover:bg-opacity-30 rounded-full text-primary"
            >
              Iniciar simulacion
            </button>
          </div>
          <div>
            <h3 class="text-[#FFFF] text-[20px] font-bold">SALIDA DE LA RED</h3>
            <div class="bg-[#242426] salida flex justify-center p-4 gap-10">
              <div class="flex flex-col text-[#FFFF]">
                <h4 class="text-primary font-bold">YD1</h4>
                <div>0</div>
                <div>0</div>
                <div>1</div>
                <div>1</div>
              </div>
              <div class="flex flex-col text-[#FFFF]">
                <h4 class="text-primary font-bold">YD2</h4>
                <div>0</div>
                <div>1</div>
                <div>0</div>
                <div>1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Article>
  </main>
</Body>
