<div>
  <p class="text-[#fff] text-xl mt-2 flex justify-center">
    <span class="text-primary">Parametros</span>de entrenamiento
  </p>
  <div class="flex items-center -mt-4 gap-5">
    <div class="flex flex-col w-28">
      <p class="text-[#fff] text-sm mb-3 mt-3 flex">Numero de iteraciones *</p>
      <input
        type="range"
        min="0"
        max="5000"
        value="0"
        [(ngModel)]="variables.num_iteraciones"
      />
      <p class="text-[#fff]">Valor del rango {{ variables.num_iteraciones }}</p>
    </div>
    <div class="w-28 mx-1 my-3">
      <p class="text-[#fff] text-sm mb-3 mt-3">Rata de aprendizaje*</p>
      <input
        type="range"
        min="0"
        max="1"
        value="0"
        step="0.1"
        [(ngModel)]="variables.rata_aprendizaje"
      />
      <p class="text-[#fff]">
        Valor del rango {{ variables.rata_aprendizaje }}
      </p>
    </div>
    <div class="w-28 mx-1 my-3">
      <p class="text-[#fff] text-sm mb-3 mt-3">Error maximo permitido*</p>
      <input
        type="range"
        min="0"
        max="1"
        value="0"
        step="0.1"
        [(ngModel)]="variables.error_maximo"
      />
      <p class="text-[#fff]">Valor del rango {{ variables.error_maximo }}</p>
    </div>
  </div>
</div>
