<H2 class="text-[#fff] font-bold text-xl text-start mb-4">Parametros de entrada</H2>
<div>
  <div class="flex items-center">
    <div class="w-5 h-5 rounded-full bg-[#8E2FE3] p-2"></div>
    <p class="text-[#fff] ml-2">Numero de entradas: {{ variables.entradas }}</p>
  </div>
  <div class="flex items-center my-4">
    <div class="w-5 h-5 rounded-full bg-[#8E2FE3] p-2"></div>
    <p class="text-[#fff] ml-2">Numero de salidas: {{ variables.salidas }}</p>
  </div>
  <div class="flex items-center">
    <div class="w-5 h-5 rounded-full bg-[#8E2FE3] p-2"></div>
    <p class="text-[#fff] ml-2">Numero de patrones: {{ variables.patrones }}</p>
  </div>
</div>
